/*! Selectors in CSS
1. Element Selector [h1, h2, p, b, etc.]. Actually they are html tags.
2. Class Selector [.my-class, .header-class, etc]. Using dot(.) to select class's, then style them
3. Id Selector [#my-id, #doc-1, etc]. using hash(#) to select id's, then style them

///** Power of Selector's:
1. id selector has more power than class and element selector. 
   CSS apply with id selector over-rides other(class && element) selector's CSS
2. class selector has more power than element selector.
3. Element selector has the least power in all selector's

///** Pseudo-selector's:
1. syntax is --> Parent:child [i.e. li:first-child, li:last-child, li:nth-child(n)]
   where (n) is any positive integer.
   before colon(:) Parent element
   after color(:) child-selector

///** Sibling Selector's:
1. decendent selector: it selects all the child's (directly or indirectly).
   [div p] --> it selects all p element in div whether they are direct child of div or Not.
2. child selector: it selects all the direct child Only.
   [div > p] --> it selects all p elements who are direct child of div
3. adjacent sibling selector: it select the element that is directly after another specific element
   sibling elements must have the same parent element.
   [div + p] --> it select the p element that occurs direcly after div
4. general adjacent selector: it select all element that is directly after specific element.
   [div ~ p] --> it select all p element that occurs after div

///** Attribute selector
1. img[src^="../images/"]{
     style whatever you want
     it apply on all images whose source attribute starts with above value
     ^ means matches value at the Start
   }
2. img[src$="../images/"]{
     style whatever you want
     it apply on all images whose source attribute Ends with above value 
     $ means matches value at the End
   }
3. img[src*="../images/"]{
     style whatever you want
     it apply on all images whose source attribute contains above value
     * means matches value anywhere[start, end, mid, etc] in the attribute
   }
*/
